@import '../scss/variables.scss';


.cancelBtn{
  background-color: $Turkos;
  width:4rem;
  height:4rem;

  background-image : url('../../public/BackArrow.svg');
  background-size: calc(100% - 20px);  
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $Radius;
}