@import '../scss/variables.scss';


.topBtn{
 
  width:5rem;
  height:5rem;
  padding:10px;
  background-size: calc(100% - 20px);  
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;

  &.sorted-up {
    background-image: url('../../public/time-up.svg'); // Nyast först
  }

  &.sorted-down {
    background-image: url('../../public/time-down.svg'); // Äldst först
  }
}