$PrimaryBg:#19274A;
$Red: #EF4343;
$White: #ffffff;
$White-20: #ffffff32;
$Black: #000000;
$Black-60: #00000090;
$Turkos: #00B2FF;
$Turkos-80: #00b3ffce;

// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;

$Radius: 4px;