@import '../src/scss/variables.scss';
@import '../src/scss/mixins';
@import '../src/scss/typography';


#root {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
}

* {
  margin: 0; // Nollställ marginaler
  padding: 0; // Nollställ padding
  box-sizing: border-box; // Inkludera padding och border i elementets totala bredd
}

html, body {
  margin: 0;
  padding:  0;
  width: 100%;
  background-color:$Black;
}

.header {
padding:0 1rem;
margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  width:100%;
  align-items: center;
  gap:1rem;
  flex-shrink: 0;
}


.flow {
  display: flex;
  flex-direction: column;
  height: 100vh; // Gör att flödet tar upp hela höjden på skärmen
  position: relative;
}

.writeMsg , .flow{
  display: flex;
  flex-direction: column;
}

.noMsg {
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100vh;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.form_container >.card {
  min-height: 20rem;
 padding: 0 2rem;
}


.card_flow {
  flex-grow: 1; // Gör att denna sektion fyller tillgänglig höjd
  overflow-y: auto; // Aktivera vertikal scroll när det behövs
  padding: 1rem;
}

.form_container >.card >.card__container {
 @extend p;
text-align: left;
vertical-align: text-top;
flex-grow: 1;
}

.form__bottom {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width:100%;
}


.input_userName {
  margin-bottom: 1rem;
  padding:1rem;
  width: 100%;
  background-color: $Black;
  border:1px solid $White;
  border-radius: $Radius;
  @extend p;
  color:$White;
}

.submitBtn {
  @extend .btn;
  width: 100%;
  background-color: $Red;
  padding:1rem;
  border-radius: $Radius;
}




@media (min-width: 768px) {
  #root {
    max-width: 1200px;
    margin: 0 auto; /* Centrerar root-elementet när skärmen är bredare än 768px */
  }
}










