.flow {
margin:auto;
  box-sizing: border-box;
  width: 100%; /* Se till att flow tar hela bredden */
 /* Maximal bredd för att förhindra överdriven sträckning */
  padding: 0 1rem;
 
}

.flow_header {
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:1rem;
  
}

